/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* layout */

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.space-evenly {
    justify-content: space-between;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/* header css */

.header {
    background: #000;
    color: white;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

.header .logo h3 {
    font-size: 25px;
}

.header .menu ul,
.header .menu-extentions ul {
    display: flex;
}

.header .menu a,
.header .menu-extentions a i {
    display: block;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    line-height: 32px;
    padding: 16px 0px;
    border-bottom: 1px solid transparent;
}

.header .menu li {
    margin-right: 25px;
}

.header .menu li:last-child {
    margin-right: 0px;
}

.header .menu a:hover {
    border-bottom: 1px solid #e23d3d;
}

.header .menu-extentions a i {
    font-size: 20px;
    padding: 16px 10px;
    font-weight: 300;
}

.header .menu-extentions a.search i {
    color: #e23d3d;
}


/* slider css */

.slider {
    position: relative;
}

.slider .item img {
    width: 100%;
}

.slider .owl-nav .owl-next,
.slider .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -42px;
}

.slider .owl-nav .owl-next {
    right: 20px;
}

.slider .owl-nav .owl-prev {
    left: 20px;
}

.slider .owl-nav .owl-next span,
.slider .owl-nav .owl-prev span {
    font-size: 75px;
}

.owl-theme .owl-nav [class*="owl-"]:hover,
.owl-theme .owl-nav [class*="owl-"]:focus {
    background: none;
    border: none!important;
    outline: none;
}